@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode {
  background-color: black;
  color: #fff;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  /* Darmode version 
  background-color: rgba(145, 142, 142, 0.7); */
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  position: fixed;
  top: 0;
}

.menu-btn {
  fill: #000000;
  background-color: #000000;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 84.78%;
  right: 9.42%;
  top: 27%;
}

nav ul {
  visibility: hidden;
}

nav ul a {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

#over-lay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 10000;
  visibility: hidden;
}

.overlay-list {
  list-style: none;
  position: relative;
  top: 3%;
  text-align: center;
}
.overlay-list li {
  margin: 20px;
}

.overlay-list a {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
.overlay-list a:hover {
  color: #eeae08;
}
.overlay-list a:active {
  color: #eeae08;
}

.hero-section {
  margin-top: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.greeting {
  color: #5c5b5b;
  margin-bottom: 5px;
}

h1 {
  color: #5c5b5b;
  margin-bottom: 7%;
  margin-top: 20px;
}
em {
  color: #eeae08;
  font-style: normal;
}
.btn-hire {
  border: none;
  width: 80%;
  padding: 6%;
  background-color: #642087;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 7%;
}
.btn-hire:hover {
  background-color: red;
}
h2 {
  text-align: center;
  margin-top: 20%;
}
.headshot-img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.short-bio {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
}

.short-bio p {
  line-height: 150%;
}

.projects-tiles {
  width: 80%;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-img {
  width: 100%;
}
.btn-tile {
  margin-bottom: 0;
  padding: 20px;
  background-color: blue;
  width: 100%;
  text-decoration: none;
  font-style: normal;
}

@media screen and (min-width: 640px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .projects-img {
    width: 200px;
  }
  .bio {
    display: flex;
    justify-content: space-between;
  }
  .headshot-img {
    width: 470px;
    order: 1;
  }

  p {
    order: 2;
  }
}
.contact {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  line-height: 150%;
}
.social-links {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: #5c5b5b;
}

.fa {
  width: 50px;
  margin-bottom: 20px;
}

.toggleBtn {
  background-color: #413f3f;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  text-align: center;
  padding: 10px;
  float: right;
}

.fa-moon-o {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
