@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #642087;
  --secondary-color: #eeae08;
  --darkmode-bgcolor: #121212;
}

.glassmorph {
  background-color: rgba(114, 111, 111, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #fff;
}
.container {
  width: 100%;
}

.light-mode {
  background-color: #f1f1f1;
  color: #3d3d3d;
}

.header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgba(114, 111, 111, 0.1);
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 300;
}

.nav-links a {
  text-decoration: none;
  list-style: none;
}
.nav-links {
  margin-top: 15px;
  float: right;
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.nav-links li {
  margin-right: 50px;
}

.nav-overlay-nav {
  visibility: hidden;
}

.hero-section {
  margin-top: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-content {
  width: 60%;
  margin-bottom: 30px;
}

#hero-img {
  text-align: center;
  width: 40%;
}

.hero-img {
  width: 100%;
  border-radius: 300px;
  border: 3px solid #642087;
}

.greeting {
  color: #5c5b5b;
  margin-bottom: 5px;
}

.intro {
  color: #5c5b5b;
  margin-bottom: 7%;
  margin-top: 20px;
  font-size: 4rem;
}

em {
  color: #eeae08;
  font-style: normal;
}

.btn-hire {
  display: inline-block;
  border: none;
  padding: 20px 60px;
  background-color: #642087;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 7%;
  text-decoration: none;
}
.btn-hire:hover {
  background-color: #8a2be2;
}

.short-bio-text {
  line-height: 150%;
  font-size: 2.5rem;
  display: block;
  text-align: center;
  transform: skewY(7deg);
}
.aboutMe-content {
  width: 50%;
  padding: 60px 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  transform: skewY(-7deg);
}
.workspan {
  display: block;
  margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 2%;
  font-size: 2.8rem;
}

.contact {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.contactMsg {
  font-size: 2.5rem;
  line-height: 150%;
}

.contact {
  line-height: 150%;
}
.social-links {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: #5c5b5b;
  margin-top: 50px;
}

.fa {
  width: 50px;
  margin-bottom: 20px;
}
.toggleBtn {
  background-color: #646262;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  text-align: center;
  padding: 10px;
  float: right;
  box-shadow: 3px 70px 70px rgba(88, 87, 87, 0.9);
  z-index: 99;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.fa-moon-o {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.fa-sun-o {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.btn-contact {
  background-color: #642087;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  color: #fff;
}

.btn-menu {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  visibility: hidden;
  color: #eeae08;
}
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 150px;
  flex-shrink: none;
}

.tiles {
  width: 30%;
  height: 40vh;
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
}

.rect {
  display: flex;
  padding: 20px;
}
.intile-div-img {
  order: 1;
  width: 70%;
}
.intile-div {
  order: 2;
  padding: 3px;
}

.tileimg {
  width: 100%;
}

.rotate {
  animation: rotation 7s infinite linear alternate;
}

@keyframes rotation {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.artbody {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 25% auto 25%;
}
.articlepic {
  width: 100%;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 10px;
}

.sidelinks {
  width: fit-content;
  text-align: left;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: fixed;
}

.sidelinks li {
  list-style-type: none;
  margin-bottom: 20px;
}
.sidelinks li :hover {
  background-color: #807e7e;
  padding: 10px;
  border-radius: 10px;
}
.sidelinks a {
  text-decoration: none;
}
.main-pane {
  overflow-y: scroll;
}
.left-pane {
  border-right: 1px solid #363636;
  position: sticky;
  margin-left: 3%;
}

::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 640px) {
  .artbody {
    grid-template-columns: 25% auto;
  }
  .nav-links {
    display: none;
  }
  .nav-overlay-nav {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 200000;
    visibility: hidden;
  }
  .nav-overlay-nav ul {
    text-align: center;
    margin-top: 200px;
  }
  .nav-overlay-nav ul li {
    list-style: none;
    margin-top: 20px;
    color: #eeae08;
    font-weight: normal;
    font-size: 1.5rem;
  }
  .nav-overlay-nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  .nav-overlay-nav ul li a:hover {
    color: #eeae08;
  }
  .fa-times {
    font-weight: lighter;
  }
  .btn-menu {
    visibility: visible;
    border: none;
    background: none;
    float: right;
  }
  .fa-bars {
    float: right;
  }

  #btn-close {
    background: none;
    border: none;
  }
  .btn-hire {
    border: none;
    width: 70%;
    padding: 20px;
    background-color: #642087;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
  }

  .hero-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-content {
    order: 2;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #hero-img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .hero-img {
    width: inherit;
    border-radius: 250px;
    border: 3px solid #642087;
  }

  .btn-hire {
    border: none;
    padding: 20px 60px;
    background-color: #642087;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 7%;
  }

  .btn-hire:hover {
    background-color: #8a2be2;
  }

  .short-bio-text {
    line-height: 150%;
    font-size: 1.7rem;
    display: block;
    text-align: center;
  }

  .aboutMe-content {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: skewY(-7deg);
  }

  .workspan {
    font-size: 1.5rem;
    margin-left: 4%;
  }
  .projects {
    flex-direction: column;
  }

  .tiles {
    flex-direction: column;
    width: 80%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
  }
  .intile-div-img {
    order: 1;
    width: 100%;
    height: auto;
  }

  .intile-div {
    order: 2;
  }

  .contactMsg {
    font-size: 1.8rem;
  }
}
