@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: auto;
}

.dark-mode {
  background-color: black;
  color: #fff;
}
.dark-mode-nav {
  background-color: rgba(145, 142, 142, 0.7);
}

.header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin: 0;
  padding: 0;
  visibility: hidden;
}
nav li {
  display: inline;
}

.navbar {
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  position: fixed;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 300;
}

nav ul a {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.hero-section {
  margin-top: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  color: #5c5b5b;
  margin-bottom: 5px;
}

h1 {
  color: #5c5b5b;
  margin-bottom: 7%;
  margin-top: 20px;
}

em {
  color: #eeae08;
  font-style: normal;
}

.btn-hire {
  border: none;
  width: 250px;
  height: 60px;
  padding: 20px;
  background-color: #642087;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 7%;
}
.btn-hire:hover {
  background-color: #8a2be2;
}

h3 {
  text-align: center;
  margin-top: 20%;
}
.headshot-img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.short-bio {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
}

.short-bio p {
  line-height: 150%;
}

.contact {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  line-height: 150%;
}
.social-links {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: #5c5b5b;
  margin-top: 50px;
}

.fa {
  width: 50px;
  margin-bottom: 20px;
}
.toggleBtn {
  background-color: #646262;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: none;
  text-align: center;
  padding: 10px;
  float: right;
  box-shadow: 3px 8px 10px rgba(88, 87, 87, 0.1);
  z-index: 99;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.fa-moon-o {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.fa-sun-o {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.fa-bars {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.btn-menu {
  border: none;
  background: none;
}
@media screen and (max-width: 639px) {
  .btn-hire {
    border: none;
    width: 70%;
    height: 60px;
    padding: 20px;
    background-color: #642087;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .hero-section {
    margin-top: 180px;
  }
  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .tiles {
    width: 18.06rem;
    height: 18.3rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
  aside {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 2000;
    visibility: hidden;
  }
  aside ul {
    text-align: center;
    margin-top: 200px;
  }
  aside ul li {
    list-style: none;
    margin-top: 20px;
    color: #eeae08;
    font-weight: normal;
    font-size: 1.5rem;
  }
  aside ul li a {
    text-decoration: none;
    color: #fff;
  }
  aside ul li a:hover {
    color: #eeae08;
  }
  .fa-times {
    font-weight: lighter;
  }
  #btn-close {
    background: none;
    border: none;
  }
}

@media screen and (min-width: 640px) {
  .nav-links {
    visibility: visible;
    margin-top: 15px;
    float: right;
    position: absolute;
    right: 0;
    padding-right: 10px;
  }

  aside {
    display: none;
  }

  .nav-links li {
    margin-right: 50px;
  }
  .fa-bars {
    visibility: hidden;
  }
  .hero-section {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; 
   this was just meant to help me align both divs
   */
  }
  .hero-content {
    width: 50%;
    padding-right: 15px;
  }
  .hero-img {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .rect {
    width: 500px;
    height: 300px;
    background-color: rgba(177, 171, 171, 0.644);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(9px);
    -moz-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 20px;
    transform: rotate(-4.63deg);
  }

  .rect-2 {
    transform: rotate(4.63deg);
    position: absolute;
    top: 204px;
  }

  .btn-contact {
    background-color: #642087;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    color: #fff;
  }
  .projects {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .tiles {
    width: 18.06rem;
    height: 18.3rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
}

@media screen and (min-width: 769px) {
  .bio {
    display: flex;
    border: 1px solid black;
  }
  aside {
    display: none;
  }
  .short-bio {
    width: 40%;
    order: 1;
    margin-top: 100px;
  }
  .headshot {
    width: 40%;
    order: 2;
    margin-right: 10px;
  }
  .headshot-shape {
    position: absolute;
    right: 40px;
    margin-top: 32.5px;
    border: 3px solid #eeae08;
    width: 40%;
    height: 70vh;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 100px;
  }
  .headshot-img {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 100px;
  }
  .short-bio-text {
    line-height: 200%;
  }
}
